body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.book-header {
  font-size: 42px;
  font-weight: 500;
}

.book-store {
  border: 3px solid black;
  margin: 1.5% 20%;
  padding: 0;
}

.book-wrapper {
  display: flex;
  align-items: center;
  padding: 0 1.5%;
  gap: 5px;
}

.book-wrapper button {
  padding: 7px 15px;
  background-color: white;
  border: 2px solid black;
  margin-left: auto;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 5px 5px 0 2px;
}

.book-wrapper:nth-child(odd) {
  background-color: rgb(201, 201, 201);
}

.book-wrapper:nth-child(even) {
  background-color: rgb(231, 231, 231);
}

.underline {
  border: 3px solid black;
  border-radius: 15px;
  width: 300px;
  margin: 0 auto 40px;
}

.form h2 {
  font-size: 42px;
  font-weight: 500;
}

#add-new-book {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 400px;
  margin: auto;
}

.book-title,
.book-author {
  border: 3px solid black;
  width: 400px;
  font-weight: 500;
  height: 30px;
}

#add-btn {
  padding: 7px 15px;
  background-color: white;
  border: 2px solid black;
  font-size: 16px;
  font-weight: 500;
  box-shadow: 5px 5px 0 2px;
  align-self: flex-end;
}
